<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mongoose Store</title>
  </head>
  <body>

      <header>
        <a href="/product/new">Add a New Product</a>
        <h3>Products</h3>
      </header>
      <div class="container">
      <div class="product">
        <% for (let i = 0; i < products.length; i++) { %>
          <p> Name: <a href="/product/<%= products[i].id %>"><%= products[i].name %> </a> </p>
          <p> Description: <%= products[i].description %> </p>
          <p> Price: <%= products[i].price %> </p>
          <p> Qty: <%= products[i].qty %> </p>
          <hr />
<%  } %>
      </div>

      </div>
  </body>
</html>
