<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Pokedex</title>
  </head>
  <body>
    <h2>Edit <%=pokemon.name%>'s Stats</h2>
    <form action="/pokemon/<%=index%>?_method=PUT" method="post">
        <label for="hp">hp</label>
        <input type="text" name="hp" id="hp" value="<%=pokemon.stats.hp%>"/>
        <label for="attack">attack</label>
        <input type="text" name="attack" id="attack" value="<%=pokemon.stats.attack%>" />
        <label for="defense">defense</label>
        <input type="text" name="defense" id="defense"
        value="<%=pokemon.stats.attack%>" />
        <input type="submit" value="Edit">
      </form>
  </body>
</html>
